@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');
*{
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
}
header{
	text-align: center;
	background: #000;
	color: #fff;
	padding: 10px 0;
}
.container{
	max-width: 700px;
	margin: auto;
	padding: 20px;
}
section{
	border: 2px solid #5624d0;
	border-radius: 7px;
	padding: 10px;
	margin: 10px 0;
}
label{
	display: block;
	padding: 7px;
	border-radius: 7px;
	cursor: pointer;
	border: 1px dashed #ccc;
	margin-bottom: 3px;
}
label:hover{
	background: #cec0fc;
}





#btn-abrir{
	width:80%,
	display block;
	margin: auto;
	padding: 10px;

	background-color: #76d7c8;
	border: none;
	cursor: pointer;
	border-radius: 20px;
}
#btn-abrir:hover{
	background: #000;
	color: #fff;
}

#btn-cerrar4{
	width:80%,
	display block;
	margin-left: 30ch;
	padding: 10px;

	background-color: #76d7c8;
	border: none;
	cursor: pointer;
	border-radius: 20px;
}
#btn-cerrar4:hover{
	background: #000;
	color: #fff;
}

#btn-cerrar2{
	width:80%,
	display block;
	margin-left: 30ch;
	padding: 10px;

	background-color: #76d7c8;
	border: none;
	cursor: pointer;
	border-radius: 20px;
}
#btn-cerrar2:hover{
	background: #000;
	color: #fff;
}

#btn-cerrar3{
	position: relative;
	right: auto;
	width:80%,
	display block;
	margin-left: 65%;
	top: 30%;
	padding: 10px;

	background-color: #76d7c8;
	border: none;
	cursor: pointer;
	border-radius: 20px;
}
#btn-cerrar3:hover{
	background: #000;
	color: #fff;
}

#btn-cerrar{
	width:80%,
	display block;
	margin-left: 30ch;
	padding: 10px;

	background-color: #76d7c8;
	border: none;
	cursor: pointer;
	border-radius: 20px;
}
#btn-cerrar:hover{
	background: #000;
	color: #fff;
}











h2{
	text-align: center;
}
#resultado{
	font-size: 30px;
	color: blue;
}
#resultado2{
	font-size: 30px;
	color: blue;
}
#resultado3{
	font-size: 30px;
	color: blue;
}

/*MODAL*/

.popTitle{
	text-align: center;

}

#modal::backdrop{
background-color: rgba(0, 0, 0, 0.55);

}
/*
#modal{
	max-width: 50ch ;
	background-image:url(electronica.jpg);
	color: white;
}*/

#modal2::backdrop{
	background-color: rgba(0, 0, 0, 0.55);
	
	}
	/*
	#modal2{
		max-width: 50ch ;
		height: 60%;
		background-image:url(tdma.png);
		color: white;
	}*/

	#moda3::backdrop{
		background-color: rgba(0, 0, 0, 0.55);
		
		}
		
		#modal3{
			width:40%;
			height:40%;
			background-image:url(has.jpg);
			background-repeat: no-repeat;
			background-position: 50%;
			background-position-y: top;
			color: white;
		}